*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wraper{
    background-image: linear-gradient(90deg,rgb(209,17,226),rgb(116,42,252));
    height: 100vh;
    width: 100%;
}
.inner-wraper{
    background: #fff;
    height: 60vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 18px;
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.22);
    display: flex;
}
.image{
    height: inherit;
    width: 50%;
    background: inherit;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image svg{
    height: 50%;
    width: 100%;
}
.form{
    height: inherit;
    width: 50%;
    background: inherit;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-form{
    display: flex;
    flex-direction: column;
}
.input{
    height: 40px;
    width: 90%;
    border-radius: 30px;
    border: none;
    background: #eeeeee;
    padding-left: 20px;
    margin-top: 30px;
    outline: none;
}
button{
    margin-top: 30px;
    height: 40px;
    width: 90%;
    border-radius: 30px;
    border: none;
    background-color: #1fcc44;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.form span{
    color: #000000;
}
.form p{
    color: #1fcc44;
    margin-top: 30px;
    font-size: .89rem;
    text-align: center;
}
.form a{
    color: #1fcc44;
    font-size: .71rem;
    text-decoration: none;
}